{% extends 'base.html' %}

{% block conteudo %}
<mat-card>
    <mat-card-header><h5 class="text-center">Dados do Veículo</h5></mat-card-header>
</mat-card>
  <form action="/veiculo/salvar" method="post">
    {% csrf_token %}
    <input type="hidden" name="id_veiculo" value="{{veiculo.pk}}">
    <div class="form-group">
        <label for="marca">Marca</label>
        <input type="text" class="form-control" id="marca" name="marca" value='{{veiculo.marca}}' placeholder="Ex: Toyota">
    </div>
    <div class="form-group">
        <label for="modelo">Modelo</label>
        <input type="text" class="form-control" id="modelo" name="modelo" value='{{veiculo.modelo}}' placeholder="Ex: Hillux">
    </div>
    <div class="form-group">
        <label for="tipo">Tipo</label>
        <input type="text" class="form-control" id="tipo" name="tipo" value='{{veiculo.tipo}}' placeholder="Ônibus, Van, etc;">
    </div>
    <div class="form-group">
        <label for="combustivel">Combustivel</label>
        <input type="text" class="form-control" id="combustivel" name="combustivel" value='{{veiculo.combustivel}}' placeholder="Ex: 75 litros">
    </div>
    <div class="form-group">
        <label for="placa">Placa</label>
        <input type="text" class="form-control" id="placa" name="placa" value='{{veiculo.placa}}' placeholder="XXX-0000">
    </div>
    <div class="form-group">
        <label for="chassi">Chassi</label>
        <input type="text" class="form-control" id="chassi" name="chassi" value='{{veiculo.chassi}}'>
    </div>
    <div class="form-group">
        <label for="ano">Ano Veiculo</label>
        <input type="text" class="form-control" id="ano" name="ano" value='{{veiculo.ano}}'>
    </div>
    <div class="form-group">
        <label for="capacidade">Capacidade de pessoas</label>
        <input type="text" class="form-control" id="capacidade" name="capacidade" value='{{veiculo.capacidade}}'>
    </div>
    
    <button type="submit" class="btn btn-success" role='button'>Salvar</button>
    <a href="/veiculo" class="btn btn-secondary"> Cancelar</a>
  </form>
  
{% endblock %}