{% extends 'base.html' %}

{% block conteudo %}


  <div class='container'>
    <div class="row" align="center">
      <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><strong><a href="/funcionario/"> <font color="#000">Gerenciar Funcionários</font> </a></strong></h5>
          <p class="card-text">Mantenha o controle dos Motoristas matriculados na organização</p>
        </div>
      </div>
      <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><strong><a href="/veiculo/"> <font color="#000">Gerenciar Veículos</font> </a></strong></h5>
          <p class="card-text">Mantenha o controle dos Veículos matriculados na organização</p>
        </div>
      </div>
      <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><strong><a href="/atendimento/"> <font color="#000">Gerenciar Atendimentos</font> </a></strong></h5>
          <p class="card-text">Mantenha o controle dos Atendimentos solicitados para a organização</p>
        </div>
      </div>
      <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><strong><a href="/estudante/"> <font color="#000">Gerenciar Estudantes</font> </a></strong></h5>
          <p class="card-text">Mantenha o controle dos Estudantes que possuem contrato com a organização</p>
        </div>
      </div>
      
        
    </div>
  </div>
  
  
{% endblock %}
