{% extends 'base.html' %}

{% block conteudo %}


  <div class='container'>
    <div class="row" align="center">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">
              <a href="/funcionario/"></a>
              <!--<i class="fa fa-calendar fa-4x"></i>-->
            </h4>
            <hr noshade>
            <h4 class=" text-center"><strong><a href="/funcionario/"> <font color="#000">Gerenciar Funcionarios</font> </a></strong></h4>
          </div>
        </div>
      </div>
      <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">
                <a href="/veiculo/"></a>
                <!--<i class="fa fa-calendar fa-4x"></i>-->
              </h4>
              <hr noshade>
              <h4 class=" text-center"><strong><a href="/veiculo/"> <font color="#000">Gerenciar Veículos</font> </a></strong></h4>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">
                <a href="/atendimento/"></a>
                <!--<i class="fa fa-calendar fa-4x"></i>-->
              </h4>
              <hr noshade>
              <h4 class=" text-center"><strong><a href="/atendimento/"> <font color="#000">Gerenciar Atendimentos</font> </a></strong></h4>
            </div>
          </div>
        </div>
    </div>
  </div>
  
{% endblock %}