{% extends 'base.html' %}

{% block conteudo %}
  <h1>Lista de Funcionarios</h1>
    <a class="btn btn-primary" role='button' href='/estudante/add'>Novo Estudante</a>
    <br />
    <br />
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">NOME</th>
                <th scope="col">FACULDADE</th>
                <th scope="col">CURSO</th>
                <th scope="col">AÇÕES</th>
            </tr>
        </thead>
        <tbody>
            {% for e in estudantes %}
                <tr>
                    <th scope="row">{{ e.pk }}</th>
                    <td>{{ e.nome }}</td>
                    <td>{{ e.faculdade }}</td>
                    <td>{{e.curso}}</td>
                    <td>
                        <a href="/estudante/editar/{{e.pk}}" class="btn btn-warning" >Editar</a>
                        <a href="/estudante/remover/{{e.pk}}" class="btn btn-danger" >Remover</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}